<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.heu.finance.mapper.admin.loan.LoanExamMapper">

    <select id="selectLoanExamAll" resultType="com.heu.finance.pojo.loan.LoanExam">
        select loan.id,username,amount,term,reputation,applyStatus
        from user,loan
        where user.id =loanId
    </select>

    <!--通过审核-->
    <update id="updateApplyStatus" parameterType="com.heu.finance.pojo.loan.LoanExam">
        update loan set applyStatus = 2  where id = #{id}
    </update>

    <!--未通过审核-->
    <update id="updateApplyStatusNotPass" parameterType="com.heu.finance.pojo.loan.LoanExam">
        update loan set applyStatus = 1  where id = #{id}
    </update>

    <!--用户申请网贷-->
    <insert id="applyloan">
        insert into loan(loanId,loanTime,amount,term,rate,applyStatus,loanStatus) values (#{loanId},#{loanTime},#{amount},#{term},#{rate},0,0);

    </insert>

    <!--我的借贷-->
    <select id="myLoan" resultType="com.heu.finance.pojo.personal.MyLoan" parameterType="java.lang.Integer">
        select id,amount,term,rate,applyStatus,loanStatus from loan where loanId = #{id}
    </select>

    <!--还款-->
    <update id="repayLoan" parameterType="java.lang.Integer">
        update loan set loanStatus = 2 where  id = #{id}
    </update>

    <!--排序-->
    <select id="selectLoanExamOrderBy" resultType="com.heu.finance.pojo.loan.LoanExam">
        select loan.id,username,amount,term,reputation,applyStatus
        from user,loan
        where user.id =loanId
        <choose>
            <when test="orderBy == 'username'">
                order by convert (username using gbk)
            </when>
            <when test="orderBy == 'applyStatus'">
                order by applyStatus
            </when>
            <otherwise></otherwise>
        </choose>
    </select>

    <select id="myLoanOrderBy" resultType="com.heu.finance.pojo.personal.MyLoan">
        select id,amount,term,rate,applyStatus,loanStatus
        from loan where loanId = #{id}
        <choose>
            <when test="orderBy == 'amount'">
                order by amount
            </when>
            <when test="orderBy == 'rate'">
                order by rate
            </when>
            <when test="orderBy == 'applyStatus'">
                order by applyStatus
            </when>
            <when test="orderBy == 'loanStatus'">
                order by loanStatus
            </when>

            <otherwise>
            </otherwise>
        </choose>
    </select>

</mapper>