<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.heu.finance.mapper.admin.LoanExamMapper">

    <select id="selectLoanExamAll" resultType="com.heu.finance.pojo.LoanExam">
        select username,amount,term,reputation,applyStatus
        from user,loan
        where user.id = loan.id
    </select>

    <!--通过审核-->
    <update id="updateApplyStatus" parameterType="com.heu.finance.pojo.LoanExam">
       update loan set applyStatus=2  where id = #{id}
    </update>

    <!--未通过审核-->
    <update id="updateApplyStatusNotPass" parameterType="com.heu.finance.pojo.LoanExam">
       update loan set applyStatus=1  where id = #{id}
    </update>


</mapper>